.myquotes{
    background-color: grey;
}
#navbar{
    background-color: #7E1037;
}
.quote{
    color: #7E1037;
}
.btn-color{
    background-color: #7E1037;
    color: white;
}
.fa-trash-can{
    color: #7E1037;
}